@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "poppins", sans-serif;
}

body * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-login {
  width: 100vw;
  height: 100vh;
  background: rgb(18, 18, 20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-left {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div-left h1 {
  font-size: 3vw;
  color: #e1e1e6;
}

.left-login-image {
  display: block;
  width: 30vw;
}

.div-right {
  width: 55vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 64px;
  background-color: #202024;
  border-radius: 10px;
}

.campo-texto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.campo-texto input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 12pt;
  background-color: #121214;
  color: #f0ffffde;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
}

.campo-texto input::placeholder {
  color: #f0ffff94;
}

.forgot {
  font-weight: 600;
  color: rgb(130, 87, 230);
  margin: 8px 0px 24px;
  opacity: 0.8;
  transition: opacity 0.2s ease 0s;
  align-self: flex-start;
  font-size: 14px;
}

.forgot:hover {
  opacity: 1;
}

.login-button {
  font-family: Roboto, sans-serif;
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: solid 1px transparent;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  background: #8257e5;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.login-button:hover {
  background-color: #9370db;
}

span {
  color: #cccccc;
}

span a {
  font-weight: 600;
  color: rgb(130, 87, 230);

  transition: background 0.2s ease 0s, color 0.2s ease 0s;
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

@media only screen and (max-width: 1500px) {
  .login {
    width: 70%;
  }
}

@media only screen and (max-width: 810px) {
  .main-login {
    display: flex;
    flex-direction: column;
  }

  .div-left h1 {
    display: none;
  }

  .div-left {
    width: 100%;
    height: auto;
  }

  .div-right {
    width: 75%;
    height: auto;
  }

  .left-login-image {
    width: 32vh;
  }
}

@media only screen and (max-width: 600px) {
  .left-login-image {
    display: none;
  }
  .main-login {
    display: flex;
    flex-direction: column;
    background-image: url("./img/astronaut-suit-animate.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vh;
  }

  .div-left h1 {
    display: none;
  }

  .div-left {
    width: 100%;
    height: auto;
  }

  .div-right {
    width: 100%;
    height: auto;
  }
}
